container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablets) {
    width: $tablets;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: $tablets-min) {
  }
  @media screen and (min-width: $tablets) {
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
