:root {
  --color: #ffffff;
  --color2: #2f303a;
  --color3: #f5f4fa;
  --color4: #2196f3;
  --icon: #afb1b8;
}
* {
  margin: 0px;
  padding: 0px;
  line-height: 1.4em;
  vertical-align: baseline;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:hover,
a:focus,
a:active {
  color: rgb(7, 7, 7);
  color: #2196f3;
  cursor: pointer;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}
a {
  text-decoration: none;
  color: #212121;
  display: inline;
}
.color {
  background-color: var(--color);
}
.color2 {
  background-color: var(--color2);
  height: 600px;
  width: 100%;
}
.color3 {
  background-color: var(--color3);
}
.color4 {
  background-color: var(--color2);
  height: 252px;
  width: 100%;
}
.color5 {
  background-color: #ffffff;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
}

.contact {
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.beckgrunt {
  max-width: 1200px;
}
.lorem-bot {
  padding-bottom: 0;
}
h1 {
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  color: #ffffff;
  margin: 0 auto 30px;
}
li {
  list-style-type: none;
}
$mobile: 480px;
$tablet: 768px;
$laptop: 1200px;
